@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

/* for dark/light mode button */
label {
    position: absolute;
    width: 45px;
    height: 25px;
    right: 25px;
    top: 20px;
    border: 1px solid green;
    border-radius: 20px;
}

label::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    left: 1px;
    top: 1px;
    cursor: pointer;
    border-radius: 50%;
    background: #000;
    transition: 0.4s;
}

label.active::before {
    left: 20px;
    background: #fff;
}


#main-header {
    border-radius: 5px;
}

#header-title {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px #000;
}

.container {
    width: 50%;
    margin-top: 7em;
}

@media screen and (max-width: 800px) {
    .container {
        width: 70%;
    }
}

@media screen and (max-width: 650px) {
    .container {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .container {
        width: 99%;
    }

    #header-title {
        font-size: 2rem;
    }
}

.item {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border-bottom: 4px solid #000;
}

.content {
    background: #000;
    display: 1 1 0%;
    width: 90%;
}

.item .content .text {
    font-size: 1.125rem;
    width: 100%;
    border-color: transparent;
}

.item .content .text:hover {
    cursor: context-menu;
}

.item .actions {
    display: flex;
}

.item .actions button {
    margin-left: 0.5rem;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 2px 6px;
}

.to-dos{
    background-color: black;
}

input{
    background-color: black;
    color:white;
}

.card{
    background-color: black;
}
h1{
    text-align: center;
}